@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
:root {
  --eye-video-left-height: 25vh;
  --eye-video-left-width: 34vh;
}
.App {
  text-align: center;
}
.container{
  background-color: #4e584ca6;
  height: 69em;;
}
#face-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------eyes------------- */
.eyes-container{
  display: flex;
  
}
.box-left{
  width: var(--eye-video-left-width);
  height: var(--eye-video-left-height);
  border-radius: 100px 50px 190px 130px;
  box-shadow: 3px 10px 25px 1px;
  background-image: linear-gradient(
    var(--rotate), #adc0c7, #526ab1 43%, #34425f);
  animation: spin 3.5s; 
  position: relative;
  top: 3px;
  right: 5px;
}
.box-right{
  width: var(--eye-video-left-width);
  height: var(--eye-video-left-height);
  border-radius: 50px 100px 130px 190px;
  box-shadow: 3px 10px 25px 1px;
  background-image: linear-gradient(
    var(--rotate), #adc0c7, #526ab1 43%, #34425f);
  animation: spin 3.5s; 
  position: relative;
  top: 3px;
  right: 5px;
}
.eye-video-left{
  width: var(--eye-video-left-width);
  height: var(--eye-video-left-height);
  border-radius: 100px 50px 190px 130px;
  border: 2px solid rgba(255, 255, 255, 0.913);
  opacity: .4;
  position: absolute;
  top:3px;
  left: 5px;
}
.eye-video-right{
  width: var(--eye-video-left-width);
  height: var(--eye-video-left-height);
  border-radius: 50px 100px 130px 190px;
  border: 2px solid rgba(255, 255, 255, 0.913);
  opacity: .4;
  position: absolute;
  top:3px;
  right: 5px;
}
.video-buttons{
  width: 8em;
  height: 2em;
  border-radius: 30em;
  border: 9px;
  background-color: #c6693f;
  color: white;
  font-weight: bolder;
  position: absolute;
  box-shadow: inset -3px 1px 6px 3px rgba(6, 15, 82, 0.841);
  cursor: pointer;
}
#left-eye-button{
  top: 20px;
}
#right-eye-button{
  top: 20px;
  left: 70px;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.info-box{
  background-color: #34425fb2;
  width: 20vh;
  height: auto;
  padding: 1em;
  position: absolute;
  top: .5em;
  left: 3em;
  color: white;
  box-shadow: inset 2px 3px 10px 1px;
}
.info-box-right{
  background-color: #34425fb2;
  width: 20vh;
  height: auto;
  padding: 1em;
  position: absolute;
  top: .5em;
  right: 3em;
  color: white;
  box-shadow: inset 2px 3px 10px 1px;
}
#exit-left{
  cursor: pointer;
  font-size: xx-large;
  position: absolute;
  border-radius: 25px;
  margin: 0 auto;
  right: .5em;
  box-shadow: 1px 1px 3px;
  padding: 0em .3em;
}
#exit-right{
  cursor: pointer;
  font-size: xx-large;
  position: absolute;
  border-radius: 25px;
  margin: 0 auto;
  left: .5em;
  box-shadow: 1px 1px 3px;
  padding: 0em .3em;
}
#exit-left:hover, #exit-right:hover, #exit-mouth:hover{
  position: absolute;
  box-shadow: inset 1px 1px 3px;
}

#bridge-of-glasses{
  width: 16vh; 
  height: 9vh;  
  margin: 0 -32px;
  padding: -10px;
  left: -.3vh;
  z-index: -4;
  top: 12vh;
  border: solid 6px rgb(63, 56, 18);
  border-color: gold transparent transparent transparent;
  border-radius: 80%/100px 100px 0 0;
  position:relative;
}
#bridge-of-glasses-top{
  width: 15vh; 
  height: 9vh;  
  margin: 0 -34px;
  padding: -10px;
  left: -.3vh;
  z-index: -4;
  top: 12vh;
  border: solid 6px rgb(63, 56, 18);
  border-color: gold transparent transparent transparent;
  position:relative;
}
/* -------------------------nose---------------------- */
#bridge-of-nose{
  height: 20vh;
  filter: blur(4px) drop-shadow(4px 8px black);
  position: relative;
  right: 37vh;
  top: 14vh;
}

#holes{
  font-size: 5em;
  margin-top: 10vh;
  filter: blur(3px);
  text-shadow: 5px 4px 12px #0b1023;
}

#mustache{
  width: 60vh;
  position: relative;
  top: -2vh;
  z-index: 2;
  filter: drop-shadow(5px 8px 5px rgb(33, 55, 71)) blur(1px)
}

/* -------------mouth--------------- */

.box-mouth{
  width: var(--eye-video-left-width);
  height: var(--eye-video-left-height);
  border-radius: 50%/50px 50px 120px 120px;
  background: #341015;
  border: 10px solid rgb(155, 84, 84);
  box-shadow: 3px 4px 24px 1px;
  position: relative;
  top: -7vh;
  z-index: 1;
  left: 11vh;
}
.video-mouth{
  width: var(--eye-video-left-width)*2;
  height: var(--eye-video-left-height);
  border-radius: 50%/50px 50px 120px 120px;
  border: 7px solid white;
  border-color: white transparent white transparent;
  opacity: .7;
  position: absolute;
  filter:grayscale();
  top:3px;
  right: -.2vh;
}



#mouth-button{
  top: 6vh;
  left: 12vh;
}
#mouth-button:hover, #left-eye-button:hover, #right-eye-button:hover{
  box-shadow: 3px 1px 6px 3px rgba(6, 15, 82, 0.841);
}


.box-mouth-clicked{
  width: var(--eye-video-left-width);
  height: var(--eye-video-left-height);
  border-radius: 150px 150px 50px 50px;
  background: #341015;
  border: 10px solid rgb(155, 84, 84);
  box-shadow: 3px 4px 24px 1px;
  position: relative;
  top: -49vh;
  left: 11vh;
}
.video-mouth-clicked{
  width: var(--eye-video-left-width)*2;
  height: var(--eye-video-left-height);
  border-radius: 150px 150px 50px 50px;
  border: 7px solid white;
  border-color: white transparent white transparent;
  opacity: .7;
  position: absolute;
  filter:grayscale();
  top:3px;
  right: -.2vh;
}

#exit-mouth{
  font-size: xx-large;
  cursor: pointer;
  position: absolute;
  border-radius: 25px;
  margin: 0 auto;
  left: .5em;
  z-index: 4;
  box-shadow: 1px 1px 3px;
  padding: 0em .3em;
}
.info-box-mouth{
  width: 20vh;
  height: auto;
  padding: 1em;
  position: absolute;
  top: 2em;
  background: #3410159a;
  z-index: 3;
  right: 3em;
  color: white;
  box-shadow: inset 2px 3px 10px 1px;
}